fieldset {
    border-width: 0;
}

input, select {
    margin-right: 10px;
    margin-left: 10px;
}

.scrollview-content {
    width: 1500px;
    height: 1500px;
    border: 1px solid #0b837a;
}

.top-container {
    height: 500px;
}

#element {
    height: 50px;
    width: 50px;
    /* margin-left: 500px;  ltr */
    margin-right: 500px; /* rtl */
    background-color: #2bb97f;
    border: 1px solid black;
}

.dx-scrollview {
    border: 1px solid black;
}